NODE_ENV=development
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=nestjs
DB_PASSWORD=nestjs
DB_NAME=nestjs_tutorial

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET=change-me
JWT_EXPIRES_IN=86400
